body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#0f172a;
  color:white;
}

.container{
  max-width:700px;
  margin:auto;
  padding:20px;
}

h1,h2,h3{
  color:#22c55e;
}

.product{
  border:1px solid #334155;
  padding:15px;
  margin:15px 0;
  border-radius:10px;
  background:#020617;
}

.payment-box{
  border:1px dashed #22c55e;
  padding:15px;
  margin:10px 0;
  border-radius:10px;
}

input,select{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:8px;
  border:none;
}

.btn,button{
  display:inline-block;
  padding:12px 20px;
  background:#22c55e;
  border:none;
  border-radius:10px;
  color:white;
  font-weight:bold;
  cursor:pointer;
  text-decoration:none;
}
